<html>
<head>
<head>
    <style>
        h1 {
    text-align: center;
    background-color: black;
    color: gold;
  }
  h2{
    text-align: left;
    color: black;
    text-size-adjust: 50px;
    text-size-adjust: 50px;
    
  }
   
      button {
        background-color: black;
        border: none;
        color: gold;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 4px;
        margin-left: 700px;
      }
      
      button:hover {
        background-color: black;
      }

      body{
        background-color: gold;
      }

      a{
        align-items: center;
        padding-left:710px ;
      }

      </style>
      <title>PAYMENT PAGE</title>
</head>

<body>
    <h1>PAYMENT PAGE : </h1>
    <h2 style="font-size: 50px; ">Scan QR :  </h2>
    <h2 style="font-size: 40px; padding-left: 630px; ">49.oo$/month</h2>

    <img src="QR.jpg" style="padding-left: 600px;" ><br><br>
      <form  method = "get" action="http://localhost:3000/formex3" ><button onclick="showAlert()">Pay</button></form> 

      <marquee width="100%" direction="up" height="50px" style="color: black;">  <!--2 o)-->
        <strong>ALL UPI's accepted </strong>
        </marquee>

  <script>
    function showAlert() {
  alert("Payment Successfull!");
}
  </script>

</body>
</html>
